### Data Cleaning NBA Stats for MVP Prediction

##### Cleaning the MVP Vote Data

In [2]:
# Importing pandas
import pandas as pd

In [3]:
mvps = pd.read_csv('mvps.csv')
mvps

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,0,1,Michael Jordan,27,CHI,77,891,960,0.928,82,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,1,2,Magic Johnson,31,LAL,10,497,960,0.518,79,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,2,3,David Robinson,25,SAS,6,476,960,0.496,82,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,3,4,Charles Barkley,27,PHI,2,222,960,0.231,67,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,4,5,Karl Malone,27,UTA,0,142,960,0.148,82,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,4,5,Jalen Brunson,27,NYK,0,142,990,0.143,77,...,3.6,6.7,0.9,0.2,0.479,0.401,0.847,11.2,0.198,2024
504,5,6,Jayson Tatum,25,BOS,0,86,990,0.087,74,...,8.1,4.9,1.0,0.6,0.471,0.376,0.833,10.4,0.189,2024
505,6,7,Anthony Edwards,22,MIN,0,18,990,0.018,79,...,5.4,5.1,1.3,0.5,0.461,0.357,0.836,7.5,0.130,2024
506,7,8,Domantas Sabonis,27,SAC,0,3,990,0.003,82,...,13.7,8.2,0.9,0.6,0.594,0.379,0.704,12.6,0.206,2024
507,8,9,Kevin Durant,35,PHO,0,1,990,0.001,75,...,6.6,5.0,0.9,1.2,0.523,0.413,0.856,8.3,0.142,2024

In [4]:
mvps = mvps[["Player", "Year", "Pts Won", "Pts Max", "Share"]]

In [5]:
mvps

               Player  Year  Pts Won  Pts Max  Share
0      Michael Jordan  1991      891      960  0.928
1       Magic Johnson  1991      497      960  0.518
2      David Robinson  1991      476      960  0.496
3     Charles Barkley  1991      222      960  0.231
4         Karl Malone  1991      142      960  0.148
..                ...   ...      ...      ...    ...
503     Jalen Brunson  2024      142      990  0.143
504      Jayson Tatum  2024       86      990  0.087
505   Anthony Edwards  2024       18      990  0.018
506  Domantas Sabonis  2024        3      990  0.003
507      Kevin Durant  2024        1      990  0.001

[508 rows x 5 columns]

In [6]:
mvps["Player"] = mvps["Player"].replace("Nikola JokiÄ", "Nikola Jokić")
mvps["Player"] = mvps["Player"].replace("Luka DonÄiÄ", "Luka Dončić")
mvps["Player"] = mvps["Player"].replace("Manu GinÃ³bili", "Manu Ginóbili")
mvps["Player"] = mvps["Player"].replace("Peja StojakoviÄ", "Peja Stojaković")
mvps["Player"] = mvps["Player"].replace("Goran DragiÄ", "Goran Dragić")

C:\Users\Admin\AppData\Local\Temp\ipykernel_6732\1781615006.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvps["Player"] = mvps["Player"].replace("Nikola JokiÄ", "Nikola Jokić")
C:\Users\Admin\AppData\Local\Temp\ipykernel_6732\1781615006.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvps["Player"] = mvps["Player"].replace("Luka DonÄiÄ", "Luka Dončić")
C:\Users\Admin\AppData\Local\Temp\ipykernel_6732\1781615006.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvps["Player"] = mvps["Player"].replace("Manu GinÃ³bili", "Manu Ginóbili")
C:\Users\Admin\AppData\Local\Temp\ipykernel_6732\1781615006.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvps["Player"] = mvps["Player"].replace("Peja StojakoviÄ", "Peja Stojaković")
C:\Users\Admin\AppData\Local\Temp\ipykernel_6732\1781615006.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvps["Player"] = mvps["Player"].replace("Goran DragiÄ", "Goran Dragić")

In [7]:
mvps[mvps["Player"] == "Nikola Jokić"]

           Player  Year  Pts Won  Pts Max  Share
438  Nikola Jokić  2019      212     1010  0.210
455  Nikola Jokić  2020       18     1010  0.018
459  Nikola Jokić  2021      971     1010  0.961
474  Nikola Jokić  2022      875     1000  0.875
487  Nikola Jokić  2023      674     1000  0.674
499  Nikola Jokić  2024      926      990  0.935

In [8]:
mvps[mvps["Player"] == "Luka Dončić"]

          Player  Year  Pts Won  Pts Max  Share
450  Luka Dončić  2020      200     1010  0.198
464  Luka Dončić  2021       42     1010  0.042
478  Luka Dončić  2022      146     1000  0.146
493  Luka Dončić  2023       10     1000  0.010
501  Luka Dončić  2024      566      990  0.572

In [9]:
mvps[mvps["Player"] == "Manu Ginóbili"]

            Player  Year  Pts Won  Pts Max  Share
293  Manu Ginóbili  2008        9     1260  0.007
323  Manu Ginóbili  2010        3     1230  0.002
335  Manu Ginóbili  2011       20     1210  0.017

In [10]:
mvps[mvps["Player"] == "Peja Stojaković"]

              Player  Year  Pts Won  Pts Max  Share
210  Peja Stojaković  2002        1     1260  0.001
227  Peja Stojaković  2004      281     1230  0.228

In [11]:
mvps[mvps["Player"] == "Goran Dragić"]

           Player  Year  Pts Won  Pts Max  Share
387  Goran Dragić  2014        3     1250  0.002

##### Cleaning the Player Data

In [12]:
players = pd.read_csv("players.csv")
players

,Unnamed: 0,Rk,Player,Age,Team,Pos,G,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,0,1,Michael Jordan,27,CHI,SG,82,82,37.0,12.1,...,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,"MVP-1,DPOY-7,AS,NBA1,DEF1",1991
1,1,2,Karl Malone,27,UTA,PF,82,82,40.3,10.3,...,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,"MVP-5,AS,NBA1",1991
2,2,3,Bernard King,34,WSB,SF,64,64,37.5,11.1,...,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,"MVP-16,AS,NBA3",1991
3,3,4,Charles Barkley,27,PHI,SF,67,67,37.3,9.9,...,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,"MVP-4,AS,NBA1",1991
4,4,5,Patrick Ewing,28,NYK,C,81,81,38.3,10.4,...,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,"MVP-11,DPOY-7,AS,NBA2",1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20204,753,568,Danny Green,36,PHI,SG,2,0,9.0,0.0,...,1.0,1.0,0.5,0.5,0.0,0.0,0.5,0.0,NaN,2024
20205,754,569,Ron Harper Jr.,23,TOR,PF,1,0,4.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,NaN,2024
20206,755,570,Justin Jackson,28,MIN,SF,2,0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
20207,756,571,Dmytro Skapintsev,25,NYK,C,2,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
20208,757,572,Javonte Smart,24,PHI,PG,1,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024

In [13]:
# Fetch the row with index 62 (checking for the repeated columns with header labels data)
row_at_index_62 = players.iloc[60]
row_at_index_62

Unnamed: 0        60
Rk                Rk
Player        Player
Age              Age
Team            Team
Pos              Pos
G                  G
GS                GS
MP                MP
FG                FG
FGA              FGA
FG%              FG%
3P                3P
3PA              3PA
3P%              3P%
2P                2P
2PA              2PA
2P%              2P%
eFG%            eFG%
FT                FT
FTA              FTA
FT%              FT%
ORB              ORB
DRB              DRB
TRB              TRB
AST              AST
STL              STL
BLK              BLK
TOV              TOV
PF                PF
PTS              PTS
Awards        Awards
Year            1991
Name: 60, dtype: object

In [14]:
# Filtering out the repeated columns with header labels data
players = players[players["Player"] != "Player"]

In [15]:
players.iloc[90]

Unnamed: 0              92
Rk                      81
Player        Sam Mitchell
Age                     27
Team                   MIN
Pos                     PF
G                       82
GS                      60
MP                    38.1
FG                     5.4
FGA                   12.3
FG%                   .441
3P                     0.0
3PA                    0.1
3P%                   .000
2P                     5.4
2PA                   12.2
2P%                   .445
eFG%                  .441
FT                     3.7
FTA                    4.8
FT%                   .775
ORB                    2.3
DRB                    4.0
TRB                    6.3
AST                    1.6
STL                    0.8
BLK                    0.7
TOV                    1.3
PF                     4.1
PTS                   14.6
Awards                 NaN
Year                  1991
Name: 92, dtype: object

In [16]:
# Delete unnecessary columns
del players["Unnamed: 0"]
del players["Rk"]
del players["Awards"]

In [17]:
players

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Michael Jordan,27,CHI,SG,82,82,37.0,12.1,22.4,.539,...,1.4,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,1991
1,Karl Malone,27,UTA,PF,82,82,40.3,10.3,19.6,.527,...,2.9,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,1991
2,Bernard King,34,WSB,SF,64,64,37.5,11.1,23.6,.472,...,1.8,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,1991
3,Charles Barkley,27,PHI,SF,67,67,37.3,9.9,17.4,.570,...,3.9,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,1991
4,Patrick Ewing,28,NYK,C,81,81,38.3,10.4,20.3,.514,...,2.4,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20204,Danny Green,36,PHI,SG,2,0,9.0,0.0,1.0,.000,...,0.0,1.0,1.0,0.5,0.5,0.0,0.0,0.5,0.0,2024
20205,Ron Harper Jr.,23,TOR,PF,1,0,4.0,0.0,0.0,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2024
20206,Justin Jackson,28,MIN,SF,2,0,0.5,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024
20207,Dmytro Skapintsev,25,NYK,C,2,0,1.0,0.0,0.5,.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024
20208,Javonte Smart,24,PHI,PG,1,0,1.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024

In [18]:
# Removing the asterisk on some player stats (for assurance only)
players.loc[:, "Player"] = players["Player"].str.replace("*", "", regex=False)

In [19]:
players.groupby(["Player", "Year"])

In [20]:
players.groupby(["Player", "Year"]).get_group(("Greg Anderson", 1991))

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
313,Greg Anderson,26,3TM,PF,68,2,13.6,1.7,4.0,.430,...,1.4,3.3,4.7,0.2,0.5,0.7,1.2,2.1,4.3,1991
314,Greg Anderson,26,MIL,PF,26,0,9.5,1.0,2.8,.370,...,1.0,1.9,2.9,0.1,0.3,0.3,0.8,1.1,2.7,1991
315,Greg Anderson,26,NJN,PF,1,0,18.0,4.0,4.0,1.000,...,4.0,2.0,6.0,1.0,2.0,0.0,1.0,4.0,8.0,1991
316,Greg Anderson,26,DEN,PF,41,2,16.1,2.1,4.7,.440,...,1.6,4.1,5.8,0.3,0.6,0.9,1.5,2.6,5.2,1991

In [21]:
# Change "Team" column to "Tm" to match it to mvps dataframe
players = players.rename(columns={'Team': 'Tm'})

In [22]:
players

,Player,Age,Tm,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Michael Jordan,27,CHI,SG,82,82,37.0,12.1,22.4,.539,...,1.4,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,1991
1,Karl Malone,27,UTA,PF,82,82,40.3,10.3,19.6,.527,...,2.9,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,1991
2,Bernard King,34,WSB,SF,64,64,37.5,11.1,23.6,.472,...,1.8,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,1991
3,Charles Barkley,27,PHI,SF,67,67,37.3,9.9,17.4,.570,...,3.9,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,1991
4,Patrick Ewing,28,NYK,C,81,81,38.3,10.4,20.3,.514,...,2.4,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20204,Danny Green,36,PHI,SG,2,0,9.0,0.0,1.0,.000,...,0.0,1.0,1.0,0.5,0.5,0.0,0.0,0.5,0.0,2024
20205,Ron Harper Jr.,23,TOR,PF,1,0,4.0,0.0,0.0,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2024
20206,Justin Jackson,28,MIN,SF,2,0,0.5,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024
20207,Dmytro Skapintsev,25,NYK,C,2,0,1.0,0.0,0.5,.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024
20208,Javonte Smart,24,PHI,PG,1,0,1.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024

In [23]:
# Filtering out the multiple entries/teams of the players in a single year and remain only the last team they played for in that year
def single_team(df):
    if df.shape[0] == 1:
        return df
    else:
        # Correctly filter using .isin() for multiple conditions
        row = df[df["Tm"].isin(["2TM", "3TM", "4TM"])]
        row["Tm"] = df.iloc[-1, :]["Tm"]
        return row

players = players.groupby(["Player", "Year"]).apply(single_team)

C:\Users\Admin\AppData\Local\Temp\ipykernel_6732\2339882511.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  players = players.groupby(["Player", "Year"]).apply(single_team)

In [24]:
players.head(20)

                                 Player Age   Tm Pos   G  GS    MP   FG   FGA  \
Player        Year
A.C. Green    1991 182       A.C. Green  27  LAL  PF  82  21  26.4  3.1   6.6
              1992 549       A.C. Green  28  LAL  PF  82  53  35.4  4.7   9.8
              1993 1033      A.C. Green  29  LAL  PF  82  55  34.4  4.6   8.6
              1994 1462      A.C. Green  30  PHO  PF  82  55  34.5  5.7  11.3
              1995 2017      A.C. Green  31  PHO  SF  82  52  32.8  3.8   7.5
              1996 2596      A.C. Green  32  PHO  SF  82  36  25.8  2.6   5.4
              1997 3141      A.C. Green  33  DAL  PF  83  73  30.0  2.8   5.8
              1998 3752      A.C. Green  34  DAL  PF  82  68  32.3  3.0   6.5
              1999 4369      A.C. Green  35  DAL  PF  50  35  18.5  2.2   5.1
              2000 4898      A.C. Green  36  LAL  PF  82  82  23.5  2.1   4.7
              2001 5456      A.C. Green  37  MIA  PF  82   1  17.2  1.8   4.0
A.J. Bramlett 2000 5075   A.J. Bramlett  23  CLE   C   8   0   7.6  0.5   2.6
A.J. English  1991 187     A.J. English  23  WSB  SG  70  12  20.6  3.6   8.2
              1992 592     A.J. English  24  WSB  SG  81   6  20.6  4.5  10.4
A.J. Green    2023 19262     A.J. Green  23  MIL  SG  35   1   9.9  1.5   3.6
              2024 19937     A.J. Green  24  MIL  SG  56   0  11.0  1.5   3.5
A.J. Guyton   2001 5371     A.J. Guyton  22  CHI  PG  33   8  19.1  2.4   5.8
              2002 5944     A.J. Guyton  23  CHI  PG  45   6  13.5  2.0   5.4
              2003 6657     A.J. Guyton  24  GSW  PG   2   0   4.5  0.0   2.0
A.J. Hammons  2017 15052   A.J. Hammons  24  DAL   C  22   0   7.4  0.8   1.9

                           FG%  ...  ORB  DRB  TRB  AST  STL  BLK  TOV   PF  \
Player        Year              ...
A.C. Green    1991 182    .476  ...  2.5  3.8  6.3  0.9  0.7  0.3  1.2  1.4
              1992 549    .476  ...  3.7  5.6  9.3  1.4  1.1  0.4  1.4  1.7
              1993 1033   .537  ...  3.5  5.2  8.7  1.4  1.1  0.5  1.4  1.8
              1994 1462   .502  ...  3.4  5.8  9.2  1.7  0.9  0.5  1.2  1.7
              1995 2017   .504  ...  2.4  5.8  8.2  1.5  0.7  0.4  1.4  1.8
              1996 2596   .484  ...  2.0  4.7  6.8  0.9  0.5  0.3  1.0  1.7
              1997 3141   .483  ...  2.7  5.2  7.9  0.8  0.8  0.2  0.9  1.7
              1998 3752   .453  ...  2.7  5.5  8.1  1.5  1.0  0.3  0.8  1.9
              1999 4369   .422  ...  1.6  2.9  4.6  0.5  0.6  0.2  0.4  1.4
              2000 4898   .447  ...  2.0  4.0  5.9  1.0  0.6  0.2  0.6  1.5
              2001 5456   .444  ...  1.3  2.5  3.8  0.5  0.4  0.1  0.5  1.5
A.J. Bramlett 2000 5075   .190  ...  1.5  1.3  2.8  0.0  0.1  0.0  0.4  1.6
A.J. English  1991 187    .439  ...  0.9  1.2  2.1  2.5  0.4  0.2  1.6  1.8
              1992 592    .433  ...  0.9  1.2  2.1  1.8  0.4  0.1  1.1  2.0
A.J. Green    2023 19262  .424  ...  0.2  1.1  1.3  0.6  0.2  0.0  0.3  0.9
              2024 19937  .423  ...  0.2  1.0  1.1  0.5  0.2  0.1  0.2  0.9
A.J. Guyton   2001 5371   .406  ...  0.3  0.8  1.1  1.9  0.3  0.2  0.7  1.1
              2002 5944   .361  ...  0.3  0.7  1.0  1.8  0.2  0.2  0.8  0.5
              2003 6657   .000  ...  0.0  0.0  0.0  1.0  0.5  0.0  0.5  0.0
A.J. Hammons  2017 15052  .405  ...  0.4  1.3  1.6  0.2  0.0  0.6  0.5  1.0

                           PTS  Year
Player        Year
A.C. Green    1991 182     9.1  1991
              1992 549    13.6  1992
              1993 1033   12.8  1993
              1994 1462   14.7  1994
              1995 2017   11.2  1995
              1996 2596    7.5  1996
              1997 3141    7.2  1997
              1998 3752    7.3  1998
              1999 4369    4.9  1999
              2000 4898    5.0  2000
              2001 5456    4.5  2001
A.J. Bramlett 2000 5075    1.0  2000
A.J. English  1991 187     8.8  1991
              1992 592    10.9  1992
A.J. Green    2023 19262   4.4  2023
              2024 19937   4.5  2024
A.J. Guyton   2001 5371    6.0  2001
              2002 5944    5.4  2002
              2003 6657    0.0  2003
A.J. Hammons  2017 15052   2.2  2017

[20 rows x 30 columns]

In [25]:
# Drop the multi-level index (first index which is the player name)
players.index = players.index.droplevel()

In [26]:
# Drop the multi-level index (second index which is the year)
players.index = players.index.droplevel()

In [27]:
players

,Player,Age,Tm,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
182,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,2.5,3.8,6.3,0.9,0.7,0.3,1.2,1.4,9.1,1991
549,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,3.7,5.6,9.3,1.4,1.1,0.4,1.4,1.7,13.6,1992
1033,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,3.5,5.2,8.7,1.4,1.1,0.5,1.4,1.8,12.8,1993
1462,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,3.4,5.8,9.2,1.7,0.9,0.5,1.2,1.7,14.7,1994
2017,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,2.4,5.8,8.2,1.5,0.7,0.4,1.4,1.8,11.2,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5892,Željko Rebrača,29,DET,C,74,4,15.9,2.6,5.1,.505,...,1.1,2.8,3.9,0.5,0.4,1.0,1.1,2.6,6.9,2002
6393,Željko Rebrača,30,DET,C,30,12,16.3,2.7,4.8,.552,...,0.9,2.2,3.1,0.3,0.2,0.6,1.0,2.6,6.6,2003
7077,Željko Rebrača,31,ATL,C,24,2,11.4,1.4,3.2,.442,...,1.0,1.5,2.4,0.3,0.2,0.5,0.7,2.2,3.8,2004
7597,Željko Rebrača,32,LAC,C,58,2,16.0,2.3,4.0,.568,...,0.8,2.3,3.2,0.4,0.2,0.7,0.8,2.2,5.8,2005
8209,Željko Rebrača,33,LAC,C,29,2,14.2,1.8,3.3,.542,...,0.4,1.8,2.2,0.3,0.2,0.7,0.8,2.0,4.7,2006

In [28]:
players[players["Player"] == "Greg Anderson"]

,Player,Age,Tm,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
313,Greg Anderson,26,DEN,PF,68,2,13.6,1.7,4.0,.430,...,1.4,3.3,4.7,0.2,0.5,0.7,1.2,2.1,4.3,1991
575,Greg Anderson,27,DEN,PF,82,82,34.1,4.7,10.4,.456,...,4.1,7.4,11.5,1.0,1.1,0.8,2.5,3.2,11.5,1992
1640,Greg Anderson,29,DET,PF,77,47,21.1,2.6,4.8,.543,...,2.4,5.0,7.4,0.7,0.7,0.9,1.2,3.0,6.4,1994
2265,Greg Anderson,30,ATL,PF,51,0,12.2,1.1,2.0,.548,...,1.2,2.5,3.7,0.3,0.5,0.6,0.6,2.0,2.9,1995
2885,Greg Anderson,31,SAS,PF,46,7,7.5,0.5,1.0,.511,...,0.6,1.5,2.2,0.2,0.2,0.5,0.5,1.4,1.2,1996
3291,Greg Anderson,32,SAS,C,82,48,20.2,1.6,3.2,.496,...,1.9,3.5,5.5,0.4,0.8,0.8,0.9,2.7,3.9,1997
4013,Greg Anderson,33,ATL,C,50,0,8.0,0.7,1.6,.444,...,0.8,1.6,2.4,0.3,0.4,0.2,0.3,1.7,1.8,1998

##### Combining the Player and MVP Data

In [29]:
combined = players.merge(mvps, how="outer", on=["Player", "Year"])

In [30]:
combined.head(5)

,Player,Age,Tm,Pos,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
0,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,0.9,0.7,0.3,1.2,1.4,9.1,1991,NaN,NaN,NaN
1,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,1.4,1.1,0.4,1.4,1.7,13.6,1992,NaN,NaN,NaN
2,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,1.4,1.1,0.5,1.4,1.8,12.8,1993,NaN,NaN,NaN
3,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,1.7,0.9,0.5,1.2,1.7,14.7,1994,NaN,NaN,NaN
4,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,1.5,0.7,0.4,1.4,1.8,11.2,1995,NaN,NaN,NaN

In [31]:
combined[combined["Pts Won"] > 0]

,Player,Age,Tm,Pos,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
217,Al Jefferson,29,CHA,C,73,73,35.0,9.6,18.8,.509,...,2.1,0.9,1.1,1.7,2.4,21.8,2014,34.0,1250.0,0.027
376,Allen Iverson,21,PHI,PG,76,74,40.1,8.2,19.8,.416,...,7.5,2.1,0.3,4.4,3.1,23.5,1997,1.0,1150.0,0.001
378,Allen Iverson,23,PHI,SG,48,48,41.5,9.1,22.0,.412,...,4.6,2.3,0.1,3.5,2.0,26.8,1999,319.0,1180.0,0.270
379,Allen Iverson,24,PHI,SG,70,70,40.8,10.4,24.8,.421,...,4.7,2.1,0.1,3.3,2.3,28.4,2000,132.0,1210.0,0.109
380,Allen Iverson,25,PHI,SG,71,71,42.0,10.7,25.5,.420,...,4.6,2.5,0.3,3.3,2.1,31.1,2001,1121.0,1240.0,0.904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15244,Vince Carter,23,TOR,SF,82,82,38.1,9.6,20.7,.465,...,3.9,1.3,1.1,2.2,3.2,25.7,2000,51.0,1210.0,0.042
15245,Vince Carter,24,TOR,SF,75,75,39.7,10.2,22.1,.460,...,3.9,1.5,1.1,2.2,2.7,27.6,2001,7.0,1240.0,0.006
15249,Vince Carter,28,NJN,SF,77,76,36.7,9.0,20.0,.452,...,4.2,1.4,0.6,2.2,3.2,24.5,2005,3.0,1270.0,0.002
15646,Yao Ming,23,HOU,C,82,82,32.8,6.5,12.5,.522,...,1.5,0.3,1.9,2.5,3.3,17.5,2004,1.0,1230.0,0.001
15651,Yao Ming,28,HOU,C,77,77,33.6,7.4,13.4,.548,...,1.8,0.4,1.9,3.0,3.3,19.7,2009,1.0,1210.0,0.001

In [32]:
# Changin NaN values to 0
combined[["Pts Won", "Pts Max", "Share"]] = combined[["Pts Won", "Pts Max", "Share"]].fillna(0)

In [33]:
combined

,Player,Age,Tm,Pos,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
0,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,0.9,0.7,0.3,1.2,1.4,9.1,1991,0.0,0.0,0.0
1,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,1.4,1.1,0.4,1.4,1.7,13.6,1992,0.0,0.0,0.0
2,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,1.4,1.1,0.5,1.4,1.8,12.8,1993,0.0,0.0,0.0
3,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,1.7,0.9,0.5,1.2,1.7,14.7,1994,0.0,0.0,0.0
4,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,1.5,0.7,0.4,1.4,1.8,11.2,1995,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15802,Željko Rebrača,29,DET,C,74,4,15.9,2.6,5.1,.505,...,0.5,0.4,1.0,1.1,2.6,6.9,2002,0.0,0.0,0.0
15803,Željko Rebrača,30,DET,C,30,12,16.3,2.7,4.8,.552,...,0.3,0.2,0.6,1.0,2.6,6.6,2003,0.0,0.0,0.0
15804,Željko Rebrača,31,ATL,C,24,2,11.4,1.4,3.2,.442,...,0.3,0.2,0.5,0.7,2.2,3.8,2004,0.0,0.0,0.0
15805,Željko Rebrača,32,LAC,C,58,2,16.0,2.3,4.0,.568,...,0.4,0.2,0.7,0.8,2.2,5.8,2005,0.0,0.0,0.0
15806,Željko Rebrača,33,LAC,C,29,2,14.2,1.8,3.3,.542,...,0.3,0.2,0.7,0.8,2.0,4.7,2006,0.0,0.0,0.0

##### Cleaning the Team Data

In [34]:
teams = pd.read_csv("teams.csv")
teams

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,56,26,.683,—,111.5,105.7,5.22,1991,Boston Celtics*
1,1,44,38,.537,12.0,105.4,105.6,-0.39,1991,Philadelphia 76ers*
2,2,39,43,.476,17.0,103.1,103.3,-0.43,1991,New York Knicks*
3,3,30,52,.366,26.0,101.4,106.4,-4.84,1991,Washington Bullets
4,4,26,56,.317,30.0,102.9,107.5,-4.53,1991,New Jersey Nets
...,...,...,...,...,...,...,...,...,...,...
1133,13,50,32,.610,—,117.9,115.6,2.30,2024,Dallas Mavericks*
1134,14,49,33,.598,1.0,115.1,110.7,4.46,2024,New Orleans Pelicans*
1135,15,41,41,.500,9.0,114.3,113.2,1.24,2024,Houston Rockets
1136,16,27,55,.329,23.0,105.8,112.8,-6.57,2024,Memphis Grizzlies
1137,17,22,60,.268,28.0,112.1,118.6,-5.80,2024,San Antonio Spurs

In [35]:
teams.head(30)

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,56,26,.683,—,111.5,105.7,5.22,1991,Boston Celtics*
1,1,44,38,.537,12.0,105.4,105.6,-0.39,1991,Philadelphia 76ers*
2,2,39,43,.476,17.0,103.1,103.3,-0.43,1991,New York Knicks*
3,3,30,52,.366,26.0,101.4,106.4,-4.84,1991,Washington Bullets
4,4,26,56,.317,30.0,102.9,107.5,-4.53,1991,New Jersey Nets
5,5,24,58,.293,32.0,101.8,107.8,-5.91,1991,Miami Heat
6,6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,1991,Central Division
7,7,61,21,.744,—,110.0,101.0,8.57,1991,Chicago Bulls*
8,8,50,32,.610,11.0,100.1,96.8,3.08,1991,Detroit Pistons*
9,9,48,34,.585,13.0,106.4,104.0,2.33,1991,Milwaukee Bucks*
10,10,43,39,.524,18.0,109.8,109.0,0.72,1991,Atlanta Hawks*
11,11,41,41,.500,20.0,111.7,112.1,-0.37,1991,Indiana Pacers*
12,12,33,49,.402,28.0,101.7,104.2,-2.33,1991,Cleveland Cavaliers
13,13,26,56,.317,35.0,102.8,108.0,-4.95,1991,Charlotte Hornets
14,0,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,1991,Midwest Division
15,1,55,27,.671,—,107.1,102.6,4.30,1991,San Antonio Spurs*
16,2,54,28,.659,1.0,104.0,100.7,3.18,1991,Utah Jazz*
17,3,52,30,.634,3.0,106.7,103.2,3.27,1991,Houston Rockets*
18,4,31,51,.378,24.0,105.9,109.9,-3.79,1991,Orlando Magic
19,5,29,53,.354,26.0,99.6,103.5,-3.75,1991,Minnesota Timberwolves
20,6,28,54,.341,27.0,99.9,104.5,-4.27,1991,Dallas Mavericks
21,7,20,62,.244,35.0,119.9,130.8,-10.31,1991,Denver Nuggets
22,8,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,1991,Pacific Division
23,9,63,19,.768,—,114.7,106.0,8.47,1991,Portland Trail Blazers*
24,10,58,24,.707,5.0,106.3,99.6,6.73,1991,Los Angeles Lakers*
25,11,55,27,.671,8.0,114.0,107.5,6.49,1991,Phoenix Suns*
26,12,44,38,.537,19.0,116.6,115.0,1.72,1991,Golden State Warriors*
27,13,41,41,.500,22.0,106.6,105.4,1.31,1991,Seattle SuperSonics*
28,14,31,51,.378,32.0,103.5,107.0,-3.16,1991,Los Angeles Clippers
29,15,25,57,.305,38.0,96.7,103.5,-6.27,1991,Sacramento Kings

In [36]:
# Getting rid of Division Rows
teams = teams[~teams["W"].str.contains("Division")]

In [37]:
teams.head(30)

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,56,26,.683,—,111.5,105.7,5.22,1991,Boston Celtics*
1,1,44,38,.537,12.0,105.4,105.6,-0.39,1991,Philadelphia 76ers*
2,2,39,43,.476,17.0,103.1,103.3,-0.43,1991,New York Knicks*
3,3,30,52,.366,26.0,101.4,106.4,-4.84,1991,Washington Bullets
4,4,26,56,.317,30.0,102.9,107.5,-4.53,1991,New Jersey Nets
5,5,24,58,.293,32.0,101.8,107.8,-5.91,1991,Miami Heat
7,7,61,21,.744,—,110.0,101.0,8.57,1991,Chicago Bulls*
8,8,50,32,.610,11.0,100.1,96.8,3.08,1991,Detroit Pistons*
9,9,48,34,.585,13.0,106.4,104.0,2.33,1991,Milwaukee Bucks*
10,10,43,39,.524,18.0,109.8,109.0,0.72,1991,Atlanta Hawks*
11,11,41,41,.500,20.0,111.7,112.1,-0.37,1991,Indiana Pacers*
12,12,33,49,.402,28.0,101.7,104.2,-2.33,1991,Cleveland Cavaliers
13,13,26,56,.317,35.0,102.8,108.0,-4.95,1991,Charlotte Hornets
15,1,55,27,.671,—,107.1,102.6,4.30,1991,San Antonio Spurs*
16,2,54,28,.659,1.0,104.0,100.7,3.18,1991,Utah Jazz*
17,3,52,30,.634,3.0,106.7,103.2,3.27,1991,Houston Rockets*
18,4,31,51,.378,24.0,105.9,109.9,-3.79,1991,Orlando Magic
19,5,29,53,.354,26.0,99.6,103.5,-3.75,1991,Minnesota Timberwolves
20,6,28,54,.341,27.0,99.9,104.5,-4.27,1991,Dallas Mavericks
21,7,20,62,.244,35.0,119.9,130.8,-10.31,1991,Denver Nuggets
23,9,63,19,.768,—,114.7,106.0,8.47,1991,Portland Trail Blazers*
24,10,58,24,.707,5.0,106.3,99.6,6.73,1991,Los Angeles Lakers*
25,11,55,27,.671,8.0,114.0,107.5,6.49,1991,Phoenix Suns*
26,12,44,38,.537,19.0,116.6,115.0,1.72,1991,Golden State Warriors*
27,13,41,41,.500,22.0,106.6,105.4,1.31,1991,Seattle SuperSonics*
28,14,31,51,.378,32.0,103.5,107.0,-3.16,1991,Los Angeles Clippers
29,15,25,57,.305,38.0,96.7,103.5,-6.27,1991,Sacramento Kings
30,0,51,31,.622,—,106.6,103.0,3.41,1992,Boston Celtics*
31,1,51,31,.622,—,101.6,97.7,3.67,1992,New York Knicks*
32,2,40,42,.488,11.0,105.4,107.1,-1.54,1992,New Jersey Nets*

In [38]:
# Remove asterisk on team names
teams.loc[:, "Team"] = teams["Team"].str.replace("*", "", regex=False)

In [39]:
teams.head(5)

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,56,26,.683,—,111.5,105.7,5.22,1991,Boston Celtics
1,1,44,38,.537,12.0,105.4,105.6,-0.39,1991,Philadelphia 76ers
2,2,39,43,.476,17.0,103.1,103.3,-0.43,1991,New York Knicks
3,3,30,52,.366,26.0,101.4,106.4,-4.84,1991,Washington Bullets
4,4,26,56,.317,30.0,102.9,107.5,-4.53,1991,New Jersey Nets

In [40]:
teams["Team"].unique()

array(['Boston Celtics', 'Philadelphia 76ers', 'New York Knicks',
       'Washington Bullets', 'New Jersey Nets', 'Miami Heat',
       'Chicago Bulls', 'Detroit Pistons', 'Milwaukee Bucks',
       'Atlanta Hawks', 'Indiana Pacers', 'Cleveland Cavaliers',
       'Charlotte Hornets', 'San Antonio Spurs', 'Utah Jazz',
       'Houston Rockets', 'Orlando Magic', 'Minnesota Timberwolves',
       'Dallas Mavericks', 'Denver Nuggets', 'Portland Trail Blazers',
       'Los Angeles Lakers', 'Phoenix Suns', 'Golden State Warriors',
       'Seattle SuperSonics', 'Los Angeles Clippers', 'Sacramento Kings',
       'Toronto Raptors', 'Vancouver Grizzlies', 'Washington Wizards',
       'Memphis Grizzlies', 'New Orleans Hornets', 'Charlotte Bobcats',
       'New Orleans/Oklahoma City Hornets', 'Oklahoma City Thunder',
       'Brooklyn Nets', 'New Orleans Pelicans'], dtype=object)

In [41]:
combined["Tm"].unique()

array(['LAL', 'PHO', 'DAL', 'MIA', 'CLE', 'WSB', 'MIL', 'CHI', 'GSW',
       'IND', 'WAS', 'MIN', 'BOS', 'ATL', 'HOU', 'DEN', 'ORL', 'NOH',
       'TOR', 'SAC', 'CHO', 'PHI', 'POR', 'DET', 'OKC', 'UTA', 'VAN',
       'SEA', 'NJN', 'NOK', 'LAC', 'CHA', 'MEM', 'NYK', 'NOP', 'BRK',
       'SAS', 'CHH'], dtype=object)

In [42]:
nicknames = {}

with open("nicknames.csv") as f:
    lines = f.readlines()
    for line in lines[1:]: # Skipping the first row (header)
        abbrev,name = line.replace("\n", "").split(",")
        nicknames[abbrev] = name

In [43]:
nicknames

{'ATL': 'Atlanta Hawks',
 'BRK': 'Brooklyn Nets',
 'BKN': 'Brooklyn Nets',
 'BOS': 'Boston Celtics',
 'CHA': 'Charlotte Bobcats',
 'CHH': 'Charlotte Hornets',
 'CHO': 'Charlotte Hornets',
 'CHI': 'Chicago Bulls',
 'CLE': 'Cleveland Cavaliers',
 'DAL': 'Dallas Mavericks',
 'DEN': 'Denver Nuggets',
 'DET': 'Detroit Pistons',
 'GSW': 'Golden State Warriors',
 'HOU': 'Houston Rockets',
 'IND': 'Indiana Pacers',
 'LAC': 'Los Angeles Clippers',
 'LAL': 'Los Angeles Lakers',
 'MEM': 'Memphis Grizzlies',
 'MIA': 'Miami Heat',
 'MIL': 'Milwaukee Bucks',
 'MIN': 'Minnesota Timberwolves',
 'NJN': 'New Jersey Nets',
 'NOH': 'New Orleans Hornets',
 'NOP': 'New Orleans Pelicans',
 'NOK': 'New Orleans/Oklahoma City Hornets',
 'NYK': 'New York Knicks',
 'OKC': 'Oklahoma City Thunder',
 'ORL': 'Orlando Magic',
 'PHI': 'Philadelphia 76ers',
 'PHX': 'Phoenix Suns',
 'PHO': 'Phoenix Suns',
 'POR': 'Portland Trail Blazers',
 'SEA': 'Seattle SuperSonics',
 'SAC': 'Sacramento Kings',
 'SAS': 'San Antonio Spurs',
 'TOR': 'Toronto Raptors',
 'UTA': 'Utah Jazz',
 'VAN': 'Vancouver Grizzlies',
 'WAS': 'Washington Wizards',
 'WSB': 'Washington Bullets'}

In [44]:
combined["Team"] = combined["Tm"].map(nicknames)

In [45]:
combined.head(5)

,Player,Age,Tm,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share,Team
0,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,0.7,0.3,1.2,1.4,9.1,1991,0.0,0.0,0.0,Los Angeles Lakers
1,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,1.1,0.4,1.4,1.7,13.6,1992,0.0,0.0,0.0,Los Angeles Lakers
2,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,1.1,0.5,1.4,1.8,12.8,1993,0.0,0.0,0.0,Los Angeles Lakers
3,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,0.9,0.5,1.2,1.7,14.7,1994,0.0,0.0,0.0,Phoenix Suns
4,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,0.7,0.4,1.4,1.8,11.2,1995,0.0,0.0,0.0,Phoenix Suns

In [46]:
stats = combined.merge(teams, how="outer", on=["Team", "Year"])

In [47]:
stats

,Player,Age,Tm,Pos,G,GS,MP,FG,FGA,FG%,...,Share,Team,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Doc Rivers,29,ATL,PG,79,79,32.7,5.6,12.9,.435,...,0.00,Atlanta Hawks,10,43,39,.524,18.0,109.8,109.0,0.72
1,Dominique Wilkins,31,ATL,SF,81,81,38.0,9.5,20.2,.470,...,0.03,Atlanta Hawks,10,43,39,.524,18.0,109.8,109.0,0.72
2,Duane Ferrell,25,ATL,SF,78,2,14.9,2.2,4.6,.489,...,0.00,Atlanta Hawks,10,43,39,.524,18.0,109.8,109.0,0.72
3,Gary Leonard,23,ATL,C,4,0,2.3,0.0,0.0,NaN,...,0.00,Atlanta Hawks,10,43,39,.524,18.0,109.8,109.0,0.72
4,John Battle,28,ATL,SG,79,2,23.6,5.0,10.9,.461,...,0.00,Atlanta Hawks,10,43,39,.524,18.0,109.8,109.0,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15802,Marvin Bagley III,24,WAS,C,50,25,21.1,4.8,8.2,.586,...,0.00,Washington Wizards,16,15,67,.183,32.0,113.7,123.0,-9.29
15803,Patrick Baldwin Jr.,21,WAS,SF,38,7,13.0,1.6,4.1,.381,...,0.00,Washington Wizards,16,15,67,.183,32.0,113.7,123.0,-9.29
15804,Richaun Holmes,30,WAS,C,40,10,13.9,2.1,3.7,.558,...,0.00,Washington Wizards,16,15,67,.183,32.0,113.7,123.0,-9.29
15805,Tristan Vukcevic,20,WAS,C,10,4,15.3,2.9,6.7,.433,...,0.00,Washington Wizards,16,15,67,.183,32.0,113.7,123.0,-9.29
15806,Tyus Jones,27,WAS,PG,66,66,29.3,4.9,10.1,.489,...,0.00,Washington Wizards,16,15,67,.183,32.0,113.7,123.0,-9.29

In [48]:
del stats["Unnamed: 0"]

In [49]:
stats.dtypes

Player      object
Age         object
Tm          object
Pos         object
G           object
GS          object
MP          object
FG          object
FGA         object
FG%         object
3P          object
3PA         object
3P%         object
2P          object
2PA         object
2P%         object
eFG%        object
FT          object
FTA         object
FT%         object
ORB         object
DRB         object
TRB         object
AST         object
STL         object
BLK         object
TOV         object
PF          object
PTS         object
Year         int64
Pts Won    float64
Pts Max    float64
Share      float64
Team        object
W           object
L           object
W/L%        object
GB          object
PS/G        object
PA/G        object
SRS         object
dtype: object

In [50]:
stats = stats.apply(pd.to_numeric, errors="ignore")

C:\Users\Admin\AppData\Local\Temp\ipykernel_6732\3865212684.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  stats = stats.apply(pd.to_numeric, errors="ignore")

In [51]:
stats.dtypes

Player      object
Age          int64
Tm          object
Pos         object
G            int64
GS           int64
MP         float64
FG         float64
FGA        float64
FG%        float64
3P         float64
3PA        float64
3P%        float64
2P         float64
2PA        float64
2P%        float64
eFG%       float64
FT         float64
FTA        float64
FT%        float64
ORB        float64
DRB        float64
TRB        float64
AST        float64
STL        float64
BLK        float64
TOV        float64
PF         float64
PTS        float64
Year         int64
Pts Won    float64
Pts Max    float64
Share      float64
Team        object
W            int64
L            int64
W/L%       float64
GB          object
PS/G       float64
PA/G       float64
SRS        float64
dtype: object

In [52]:
stats["GB"].unique()

array(['18.0', '29.0', '14.0', '—', '10.0', '26.0', '13.0', '12.0', '2.0',
       '28.0', '27.0', '17.0', '15.0', '33.0', '46.0', '6.0', '22.0',
       '16.0', '20.0', '21.0', '3.0', '11.0', '25.0', '19.0', '5.0',
       '23.0', '12.5', '9.0', '8.0', '4.0', '35.0', '31.0', '1.0', '7.0',
       '32.0', '41.0', '24.0', '39.0', '45.0', '36.0', '37.0', '38.0',
       '4.5', '30.0', '43.0', '25.5', '44.0', '40.0', '42.0', '2.5',
       '51.0', '34.0', '20.5', '32.5', '48.0', '52.0', '3.5', '56.0',
       '10.5', '47.0', '11.5', '22.5', '1.5', '50.0', '21.5', '18.5'],
      dtype=object)

In [53]:
stats["GB"] = stats["GB"].str.replace("—", "0")

In [54]:
stats["GB"].unique()

array(['18.0', '29.0', '14.0', '0', '10.0', '26.0', '13.0', '12.0', '2.0',
       '28.0', '27.0', '17.0', '15.0', '33.0', '46.0', '6.0', '22.0',
       '16.0', '20.0', '21.0', '3.0', '11.0', '25.0', '19.0', '5.0',
       '23.0', '12.5', '9.0', '8.0', '4.0', '35.0', '31.0', '1.0', '7.0',
       '32.0', '41.0', '24.0', '39.0', '45.0', '36.0', '37.0', '38.0',
       '4.5', '30.0', '43.0', '25.5', '44.0', '40.0', '42.0', '2.5',
       '51.0', '34.0', '20.5', '32.5', '48.0', '52.0', '3.5', '56.0',
       '10.5', '47.0', '11.5', '22.5', '1.5', '50.0', '21.5', '18.5'],
      dtype=object)

In [55]:
stats["GB"] = pd.to_numeric(stats["GB"])

In [56]:
stats.dtypes

Player      object
Age          int64
Tm          object
Pos         object
G            int64
GS           int64
MP         float64
FG         float64
FGA        float64
FG%        float64
3P         float64
3PA        float64
3P%        float64
2P         float64
2PA        float64
2P%        float64
eFG%       float64
FT         float64
FTA        float64
FT%        float64
ORB        float64
DRB        float64
TRB        float64
AST        float64
STL        float64
BLK        float64
TOV        float64
PF         float64
PTS        float64
Year         int64
Pts Won    float64
Pts Max    float64
Share      float64
Team        object
W            int64
L            int64
W/L%       float64
GB         float64
PS/G       float64
PA/G       float64
SRS        float64
dtype: object

##### Combining the Team, Player, and MVP Data

In [57]:
# Storing the merged player and mvp stats
stats.to_csv("player_mvp_stats.csv")